<!DOCTYPE html>
{% load staticfiles %}
<html>
	
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>Cazok vomit shooter</title>
	<script type="text/javascript" src="{% static 'js/phaser.js' %}"></script>
	<style>
		body{
			padding: 0px;
			margin: 0px;
			background: white;			
		}
		#canvasholder {
		    width: 99vw;
		    height: 99vh;
		    margin: 0 auto;
		}
	</style>
</head>
<body onload="">

	<div id="canvasholder"></div>

	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>